<html>
<head>
<title>No reply</title>
</head>
<body>
	<table width="100%" border="0" cellspacing="0" cellpadding="5">
		<tr>
			<td align="left">
				<p>Dear #first_name#,</p>
				<p>Please find below your login and new password to access your timesheet.</p>
				<p>
					Login : #username#<br />Password : #password#
				</p>
				<p>Your timesheet can be reached using the following link:</p>
				<p>
					<a href="https://gillet.arkium.eu/login.php">https://gillet.arkium.eu/login.php</a>
				</p>
				<p>Kind Regards,</p>
				<p>The Operations team</p>
			</td>
		</tr>
	</table>
</body>
</html>