<html>
<head>
<title>No reply</title>
</head>
<body>
	<table width="100%" border="0" cellspacing="0" cellpadding="5">
		<tr>
			<td align="left">
				<p>Dear #first_name#,</p>
				<p>Please note the end of the timesheets reporting period has been reached and you did not submit your timesheet in due time.</p>
				<p>
					Period:<br>#period#
				</p>
				<p>Please ensure your timesheet is completed and submitted as soon as possible.</p>
				<p>Your timesheet can be reached using the following link:</p>
				<p>
					<a href="https://gillet.arkium.eu/login.php">https://gillet.arkium.eu/login.php</a>
				</p>
				<p>Thanks in advance,</p>
				<p>Kind Regards,</p>
				<p>The Operations team</p>
			</td>
		</tr>
	</table>
</body>
</html>